DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/fswd_fp"
PORT=3000
JWT_SECRET="change_me"
JWT_EXPIRES_IN="7d"

SEED_ADMIN_EMAIL="admin@example.com"
SEED_ADMIN_PASSWORD="Admin123!"
SEED_USER_EMAIL="user@example.com"
SEED_USER_PASSWORD="User123!"
